#Mail settings
reporting.mail.subject.normal=Immersv Excel Reporting status
reporting.mail.subject.error=ERROR: Immersv Excel Reporting
reporting.mail.body.normal=Attached are the Excel reports for today.
reporting.mail.body.error=Immersv Excel Reporting failed. Please see the error logs attached to the mail.

#Excel and reporting settings
reporting.template=
reporting.target=/tmp/ImmersvReporting.xls
reporting.errors=/tmp/ImmersvReportingErrors.txt

# Elasticsearch settings
es.cluster.name=immersv
es.client.transport.sniff=true
<%stack = node[:opsworks][:stack][:name]%>
<% idx = idx.to_i  -%>
<%node["opsworks"]["layers"]["#{stack}-elasticsearch"]["instances"].map do |instance_name, instance_config|%>
<% idx += 1 -%>
es.transport.address.<%=idx%>=<%="#{instance_config['private_ip']}" %> 
#es.transport.host.<%=idx%>=<%="#{instance_config['hostname']}" %> 
es.transport.port.<%=idx%>=9300
<% end %>
