javax.persistence.jdbc.driver = com.mysql.jdbc.Driver
javax.persistence.jdbc.url = jdbc:mysql://<%=node[:deploy][:javaapp][:environment_variables][:RDSHost] %>:3306/systemdata
javax.persistence.jdbc.user =  <%=node[:deploy][:javaapp][:environment_variables][:RDSUser] %>
javax.persistence.jdbc.password = <%=node[:deploy][:javaapp][:environment_variables][:RDSPass] %>

eclipselink.target-server = JBoss
eclipselink.cache.shared.default = false