from_email = <%=node[:deploy]["javaapp"][:environment_variables][:from_email]%> 
password = <%=node[:deploy]["javaapp"][:environment_variables][:from_email_password]%> 
mail.smtp.auth = true
mail.smtp.starttls.enable = true
mail.smtp.host = smtp.gmail.com
mail.smtp.port = 587