creatives_bucket = <%=node[:deploy]["javaapp"][:environment_variables][:creativebucket]%>
aws_access_key_id = <%=node[:deploy]["javaapp"][:environment_variables][:aws_access_key_id]%>
aws_secret_access_key = <%=node[:deploy]["javaapp"][:environment_variables][:aws_secret_access_key]%>
max_file_size_MB = 50